<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/footer.css">
    <title>Document</title>
</head>
<body>
    <!-- Footer  -->
  <footer class="footer">
    <div class="footer-content">
      <!-- Logo Section -->
      <div class="footer-logo">

        <img src="/assets/img/icon-about-logo-foster.png " alt="logo-about" class="logo-hijau">

        <h1 class="logo-text">Angkringan</h1>
        <div class="contact-info">
          <div class="contact-row">
            <!-- Email Section -->
            <div class="contact-item">
              <p>Email</p>
              <p>angkringan890@gmail.com</p>
            </div>
            <!-- Phone Number Section -->
            <div class="contact-item">
              <p>Phone Number</p>
              <p>+62 8551-8295-3801</p>
            </div>
          </div>
        </div>


      </div>

      <!-- Links Section -->
      <div class="footer-links">
        <div class="link-column">
          <h4>Company</h4>
          <a href="#">Blog</a>
          <a href="#">Careers</a>
          <a href="#">Pricing</a>
        </div>
        <div class="link-column">
          <h4>Resources</h4>
          <a href="#">Documentation</a>
          <a href="#">Papers</a>
          <a href="#">Press Conferences</a>
        </div>
        <div class="link-column">
          <h4>Legal</h4>
          <a href="#">Terms of Service</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Cookies Policy</a>
          <a href="#">Data Processing</a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2023 Maxwell Inc. All rights reserved.</p>

      <div class="media-sosial">
        <div style="display: flex; gap: 20px; align-items: center;">
          <!-- Instagram -->
          <a href="https://www.instagram.com/accounts/login/" target="_blank" rel="noopener noreferrer"
            style="text-decoration: none; color: inherit;">
            <img src="/assets/img/icon-instagram.png" alt="Instagram"
              style="width: 23px; height: 23px; vertical-align: middle;">
          </a>

          <!-- Facebook -->
          <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
            style="text-decoration: none; color: inherit;">
            <img src="/assets/img/icon-facebook.png" alt="Facebook" style="width: 20px; height: 20px; vertical-align: middle;">
          </a>

          <!-- YouTube -->
          <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"
            style="text-decoration: none; color: inherit;">
            <img src="/assets/img/icon-youtube.png" alt="YouTube" style="width: 30px; height: 30px; vertical-align: middle;">
          </a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>