<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/navbar.css">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <ul>
            <li class="nav-home"><a href="/index.php">Home</a></li>
            <li class="nav-about"><a href="/includes/about.php">About</a></li>
            <li class="nav-menu"><a href="/includes/menu.php">Menu</a></li>
            <li class="nav-reservation"><a href="/includes/reservasi.php">Reservation</a></li>
            <li class="nav-contact"><a href="/includes/contact.php">Contact</a></li>
            <li class="login"><a href="/server/Login.php">Login</a></li>
        </ul>
    </div>

    <section class="banner"></section>
    <!-- Link ke file JavaScript -->
    <script src="/assets/js/navbar.js"></script>
</body>
</html>
