/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main Container */
.login-page {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Left Section: Login Form */
.left-section {
    background-color: #FBE28A;
    padding: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    width: 70%;
}

.container-login label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.container-login input[type="text"],
.container-login input[type="password"] {
    width: 160%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: 30px;
    font-size: 14px;
    outline: none;
    background-color: #FBE28A;
    text-indent: 20px;
}
 
.login-btn {
    width: 160%;
    margin-top: 20px;
    padding: 10px;
    background-color: #F58706;
    color: #000000;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: orange;
}

.container-login p {
    font-size: 15px;
    color: #000000;
    text-align: center; /* Tambahkan ini */
    width: 70%; 
    margin-top: 10px;
}


.container-login a {
    color: #408fe4;
    font-weight: bold;
    text-decoration: none;
}

.container-login a:hover {
    text-decoration: underline;
}

/* Image Section */
.ramen-image {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 400px;
    height: auto;
}

/* Right Section */
.right-section {
    width: 30%;
    background-color: #181924;
}
